[submodule "content/ctf"]
	path = content/ctf
	url = https://github.com/tham-le/CTF-Writeups.git
[submodule "themes/amethyst"]
	path = themes/amethyst
	url = https://github.com/64bitpandas/amethyst.git
