{{ define "main" }}
    <div class="main-content">
        <header class="page-header">
            <h1 class="page-title">{{ .Title }}</h1>
            {{ with .Content }}
                <div class="page-description">{{ . | markdownify }}</div>
            {{ end }}
        </header>


        {{/* Display projects as article list */}}
        {{ $pages := where .Site.RegularPages "Section" "projects" }}
        {{ $pag := .Paginate $pages }}

        <section class="article-list">
            {{ range $index, $element := $pag.Pages }}
                {{ partial "article-list/default" . }}
            {{ end }}
        </section>

        {{- partial "pagination.html" . -}}
            </div>

{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }} 