{{- with .Page.Params.carousel -}}
    {{- $id := .id | default (printf "carousel-%d" now.Unix) -}}
    <div id="carousel-{{ $id }}" class="project-carousel" data-carousel-id="{{ $id }}">
        <div class="carousel-viewport">
            <div class="carousel-slides">
                {{- range .images -}}
                    <div class="carousel-slide">
                        <img src="{{ . | relURL }}" alt="Carousel image" loading="lazy" />
                    </div>
                {{- end -}}
            </div>
        </div>
        <div class="carousel-controls">
            <button class="carousel-btn carousel-prev-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M15 6l-6 6l6 6" />
                </svg>
            </button>
            <div class="carousel-dots">
                {{- range $index, $element := .images -}}
                    <button class="carousel-dot" data-slide-to="{{ $index }}"></button>
                {{- end -}}
            </div>
            <button class="carousel-btn carousel-next-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 6l6 6l-6 6" />
                </svg>
            </button>
        </div>
    </div>
{{- end -}} 