<article class="main-article">
    {{ $pageContext := . }}
    {{ $showFeatureImage := true }}

    {{ if reflect.IsMap . }}
        {{ $pageContext = .context }}
        {{ if isset . "showFeatureImage" }}
            {{ $showFeatureImage = .showFeatureImage }}
        {{ end }}
    {{ end }}
    
    {{ if $showFeatureImage }}
        {{ partial "article/components/header" $pageContext }}
    {{ end }}

    {{ partial "article/components/content" $pageContext }}

    {{ partial "article/components/footer" $pageContext }}

    {{ if or $pageContext.Params.math $pageContext.Site.Params.article.math }}
        {{ partialCached "article/components/math.html" $pageContext }}
    {{ end }}
</article>